*.pyc
__pycache__
.DS_Store 
*.ipynb_checkpoints
.idea/*
*.egg-info

save
dev/results
Datasets
*.ipynb
*.csv
*.zip
*.json
*.png
data_files/folktables_datasets/*
*sync_data_*
sync_data_results/*
dev/results/*
digits
*.rar
*.numbers
dp-data
dev/grad_attack
dp-data-dev
dev/ICML/icml_results
*.npy
*.txt
*.tar